<!--- products -->
  <div class="products">
    <div class="container">
      <%= render 'professionals/index/left_menu'%>
      <div class="col-md-8 products-right">
        <div class="products-right-grid">
          <div class="products-right-grids">
            <div class="sorting">
              <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Order por</option>
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Mais populares</option>
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Melhores avaliados</option>
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Menor preço</option>
              </select>
            </div>
            <div class="sorting-left">
              <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>9 itens por página</option>
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>18 itens por página</option>
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>32 itens por página</option>
                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Todos</option>
              </select>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>

        <% @professionals.each_with_index do |item, i| %>
          <% if [0, 3].include?(i)%>
            <div class="agile_top_brands_grids">
          <%end%>
          <div class="col-md-4 top_brand_left">
            <%= render 'ecommerce/product', :item => item  %>
          </div>
          <% if [2, 5].include?(i)%>
            <div class="clearfix"> </div>
            </div>
          <%end%>
        <% end%>

        <nav class="numbering">
          <ul class="pagination paging">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!--- products -->
