<!-- header -->
  <div class="agileits_header">
    <div class="container">
      <div class="w3l_offers">
        <p>Seu dia mais simples ;).<a href="#"> Saiba mais</a></p>
      </div>
      <div class="agile-login">
        <ul>
          <li><a href="#"> Cadastre-se </a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Ajuda</a></li>

        </ul>
      </div>
      <div class="product_list_header">
          <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
          </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <div class="logo_products">
    <div class="container">
    <div class="w3ls_logo_products_left1">
      </div>
      <div class="w3ls_logo_products_left">
        <%= image_tag('logo.png')%>
      </div>
    <div class="w3l_search">
      <form action="#" method="post">
        <input type="search" name="Search" placeholder="Escolha um serviço" required="">
        <button type="submit" class="btn btn-default search" aria-label="Left Align">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
        <div class="clearfix"></div>
      </form>
    </div>

      <div class="clearfix"> </div>
    </div>
  </div>
<!-- //header -->

<!-- navigation -->
  <div class="navigation-agileits">
    <div class="container">
      <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#" class="act">Home</a></li>
                  <!-- Mega Menu -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre Nós<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="multi-gd-img">
                          <ul class="multi-column-dropdown">
                            <h6>Sobre nós</h6>
                            <li><a href="#">Quem somos</a></li>
                            <li><a href="#">O que fazemos</a></li>
                            </ul>
                        </div>

                      </div>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profissionais<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="multi-gd-img">
                          <ul class="multi-column-dropdown">
                            <h6>Todos os Serviços</h6>
                            <li><a href="#">Borracheiro</a></li>
                            <li><a href="#">Cabelereiro</a></li>
                            <li><a href="#">Chaveiro</a></li>
                            <li><a href="#">Consertos</a></li>
                            <li><a href="#"> Depilação </a></li>
                            <li><a href="#">Desentupidora</a></li>
                            <li><a href="#">Detetização</a></li>
                            <li><a href="#">Diarista</a></li>
                            <li><a href="#">Eletricista</a></li>
                            <li><a href="#">Encanador</a></li>
                            <li><a href="#">Jardineiro</a></li>
                            <li><a href="#">Massagem</a></li>
                            <li><a href="#">Mecânico</a></li>
                            <li><a href="#">Pedreiro</a></li>
                            <li><a href="#">Pintor</a></li>
                          </ul>
                        </div>


                      </div>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seja um Fornecedor<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="multi-gd-img">
                          <ul class="multi-column-dropdown">
                            <li><a href="#">Cadastre-se</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Vantagens</a></li>
                            <li><a href="#">Seja fornecedor PREMIUM</a></li>
                            </ul>
                        </div>

                      </div>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog Contrate-me<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="multi-gd-img">
                          <ul class="multi-column-dropdown">
                            <li><a href="#">Notícias</a></li>
                            <li><a href="#">Artigos</a></li>
                            <li><a href="#">Depoimentos</a></li>
                            <li><a href="#">Vídeos</a></li>
                            </ul>
                        </div>


                      </div>
                    </ul>
                  </li>
                                    <li><a href="#">Contato</a></li>
                </ul>
              </div>
              </nav>
      </div>
    </div>

<!-- //navigation -->
