  <div class="col-md-4 products-left">
    <div class="categories">
      <h2>Categorias</h2>
      <ul class="cate">
        <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Casa</a></li>
          <ul>
            <li>
            <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Diarista</a></li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Babá</a></li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Eletricista</a></li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Encanador</a></li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Jardineiro</a></li>
          </ul>
        <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Automóveis</a></li>
          <ul>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Mecânico</a> </li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Chapeador</a> </li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Funilador</a> </li>
          </ul>
        <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Pessoal</a></li>
          <ul>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cabeleleiro</a> </li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Depilador</a> </li>
            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Manicure</a> </li>
          </ul>
      </ul>
    </div>
  </div>
