<!--brands-->
  <div class="brands">
    <div class="container">
    <h3 >Brand Store</h3>

      <% arr = ["Borracheiro","Cabelereiro","Chaveiro","Desentupidora","Detetização","Diarista","Eletricista","Encanador","Jardineiro","Mecânico","Pedreiro","Pintor"]%>
      <% for j in 1..2 %>
        <div class='brands-agile-<%= j%>'>
          <% for i in 1..6 %>
            <div class="col-md-2 w3layouts-brand">
              <div class="brands-w3l">
                <p><a href="#"><%= arr[((j*j)+i) - 1 ]%></a></p>
              </div>
            </div>
          <%end%>
        </div>
        <div class="clearfix"></div>
      <%end%>
      </div>
    </div>
  </div>
<!--//brands-->
