<!-- new -->
  <div class="newproducts-w3agile">
    <div class="container">
      <h3>New offers</h3>
        <div class="agile_top_brands_grids">
          <% @new_professionals.each do |item| %>
            <div class="col-md-3 top_brand_left-1">
            <%= render 'ecommerce/product', :item => item%>
            </div>
          <% end %>
            <div class="clearfix"> </div>
        </div>
    </div>
  </div>
<!-- //new -->
